
 *{ 
 	margin: 0; 
 	padding: 0; 
 	box-sizing: 
 	border-box; 
 }

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


form{ 
	background: #000;
	padding: 3px; 
	position: fixed;
	left: 29%;
	bottom: 0; 
	width: 800px;
}

form input{ 
	border: 0; 
	padding: 10px; 
	width: 90%; 
	margin-right: .5%; 
}

form button{ 
	width: 9%; 
	background: rgb(130, 224, 255); 
	border: none; 
	padding: 10px; 
}

#messages { 
	list-style-type: none;  
	position: fixed;
	left: 29%;
	bottom: 7%; 
	width: 800px;
}

#messages li { 
	padding: 5px 10px; 
}

#messages li:nth-child(odd) { 
	background: #eee; 
}


.center{
	position: fixed;
    width: 40%;
    text-align: center;
    top: -2%;
    left: 48%;
    padding: 20px;
	transform: translate(-50%, 0);
	z-index: 1;
}


/* Pages */

.pages{
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

.page{
	height: 100%;
	position: absolute;
	width: 100%;
}



/* Login page*/
.login.page{
	background-color: #000;
	z-index: 2;	
}

.login.page .form{
	height: 100px;
	margin-top:-100px;
	position: absolute;

	text-align: center;
	top: 50%;
	width: 100%;

}

.login.page .form .usernameInput{
	background-color: transparent;
	border: none;
	border-bottom: 2px solid #fff;
	outline: none;
	padding-bottom: 15px;
	text-align: center;
	width: 400px;
}

.login.page .title{
	font-size: 300%;
	color: #fff;
}

.login.page .usernameInput{
	font-size: 300%;
	letter-spacing: 3px;
	color: pink;
}

.login.page .title, .login.page .usernameInput{
	font-weight: 100;
}

