
 *{ 
 	margin: 0; 
 	padding: 0; 
 	box-sizing: 
 	border-box; 
 }

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html, input {
  font-family:
    "HelveticaNeue-Light",
    "Helvetica Neue Light",
    "Helvetica Neue",
    Helvetica,
    Arial,
    "Lucida Grande",
    sans-serif;
}


html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}


ul {
  list-style: none;
  word-wrap: break-word;
}

/* Pages */

.pages {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;

}

.page {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Login Page */

.login.page {
  z-index: 1;

}

.transparent.page{
  background-color: #000;
  opacity:1;
  filter:alpha(opacity=100); /* For IE8 and earlier */
}


.login.page .form {
  height: 100px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;

}

.game.page{
  margin: 0px;
}

.login.page .form .usernameInput {
  background-color: transparent;
  border: none;
  outline: none;
  padding-bottom: 11px;
  text-align: center;
  margin-top: 50px;
  width: 400px;
  
  
}

.circuleDiv{
  width: 70px;
  height: 250px;
  border: none;
}

.login.page .title {
  font-size: 200%;
}

.login.page .usernameInput {
  font-size: 200%;
  letter-spacing: 3px;
}

.login.page .title, .login.page .usernameInput {
  color: #fff;
  font-weight: 100;
}

/* Chat page */

.chat.page {
  display: none;
}

/* Font */



/* Messages */




/* Input */



.center{
  position: absolute;
  left: 25%;
}



.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 17px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    outline: none;
    font-size: 16px;
    margin: 20px 3px 0px 10px;
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;
    cursor: pointer;
}


.button5 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.button5:hover {
    background-color: #555555;
    color: white;
}

